@import "reset.css";

/* parent of document */
html {
  height: 100%;
  font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;
}

/********************************************/
/* Entire left side of page */
.left-side {
  width: 35%;
  height: 100vh;
  float: left;
}

/* background image on the left */
.back-ground {
  width: 100%;
  height: 100%;
}

/* Straw hat logo */
.flag {
  width: 10%;
  float: left;
}

/* Japanese flag logo plus text container */
.flag-text {
  position: absolute;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.3);
  font-size: 45px;
  color: white;
  width: 35%;
}

/* credits for picture */
.credits {
  position: absolute;
  bottom: 2%;
  left: 10%;
  color: white;
  background: rgb(0, 0, 0, 0.3);
}

/* Link stays blue when clicked */
a:visited {
  color: rgb(0, 200, 255);
}

/********************************************/
/* Right side starts here */
.right-side {
  width: 65%;
  float: right;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top right box with text */
.right-top {
  height: 33vh;
  display: flex;
  align-items: flex-end;
  padding: 0 20% 40px 4%;
  background-color: rgb(227, 227, 224, 0.2);
  font-weight: bolder;
  font-size: 20px;
}

/* middle box with forms */
.right-middle {
  padding: 2% 4% 0 4%;
  height: 33vh;
  box-shadow: 0 4px 8px -4px grey;
  padding-bottom: 15px;
}

/* Text above forms */
.text-middle {
  font-weight: bold;
  font-size: 20px;
}

/* makes forms flexbox */
.my-form {
  display: flex;
}

/* designs left column */
.left-forms {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

/* designs right column */
.right-forms {
  display: flex;
  flex-direction: column;
}

/* Labels above text */
label {
  padding-bottom: 5px;
}

/* puts space between input forms */
input {
  margin-bottom: 20px;
  width: 150%;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
}

/* input when clicked */
input:focus {
  border-color: blue;
  box-shadow: 0 4px 8px -4px grey;
}
/* input when not valid */
input:invalid {
  border: none;
  outline: solid red;
}

/* input when valid */
input:valid {
  margin-bottom: 20px;
  width: 150%;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
}

/* bottom right box with submit button */
.right-bottom {
  padding: 4% 20% 40px 4%;
  height: 33vh;
  background-color: rgb(227, 227, 224, 0.2);
}

/* apply button */
button {
  background-color: #596d48;
  color: white;
  padding: 15px;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 4px 8px -4px grey;
}
/* button on click */
button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

/* bottom right text under apply button */
.right-bottom-p {
  padding-top: 30px;
}
