/* TEST CSS ENVIRONMENT */

@import "reset.css";

/* Full page split */
.page-split{
    display: flex;
    position: relative;
}

.back-ground{
    width: 80%;
}

/* Straw hat logo */
.straw-hat{
    width: 10%;
    float: left;
}

/* straw hat logo plus text container */
.logo-text{
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.3);
    font-family: 'One Piece', sans-serif;
    font-size: 20px;     
    color: white; 
    /* width: 39%; */

}

/* credits for picture */
.credits{
    position: absolute;
    bottom: 10px;
    left: 10%; 
    color: white;
    background: rgb(0, 0, 0, 0.3);
}

/* Link stays blue when clicked */
a:visited{
    color: rgb(0, 200, 255);
}