@import "reset.css";

.page-split{
    display: flex;
    /* flex-direction: column; */
}

/* image */
.left-side{
    display: flex;
    position: relative;
    text-align: center;
}

img{
    width: 80%;
}

/* credits for picture */
.credits{
    position: absolute;
    bottom: 10px;
    left: 20%; 
    /* color: rgb(0, 255, 17); */
    color: white;
    background: rgb(0, 0, 0, 0.3);
    
}

/* Link stays blue when clicked */
a:visited{
    color: rgb(0, 200, 255);
}

.right-side{

}